<h2 mat-dialog-title>Password Change</h2>
<div mat-dialog-content>
    <form [formGroup]="forgotPassword">
        <!-- Email Field -->
        <mat-form-field class="w-full">
            <input matInput type="email" formControlName="userEmail" placeholder="Email" required>
            <mat-error *ngIf="email?.errors?.['required']">Email is required</mat-error>
        </mat-form-field>

        <!-- Password Field -->
        <mat-form-field class="w-full">
            <input matInput type="password" formControlName="userPassword" placeholder="New Password" required>
            <mat-error *ngIf="password?.errors?.['required']">Password is required.</mat-error>
            <mat-error *ngIf="password?.errors?.['pattern']">
                Password must be at least 8 characters long and include one uppercase, one lowercase, one number, and
                one special character.
            </mat-error>
        </mat-form-field>
    </form>
</div>

<!-- Buttons -->
<div mat-dialog-actions>
    <button mat-raised-button color="primary" [disabled]="!forgotPassword.valid" (click)="onSubmit()">Change
        Password</button>
    <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
</div>